.recUserInfoArea {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
}

.recUserInfoTitle {
  width: 93px;
}

.recUserInfoTitle p {
  margin-bottom: 12px;
  height: 22px;
  text-align: left;
  font: normal normal bolder 15px/25px Roboto;
  letter-spacing: 0px;
  color: #000000;
}

.recUserInfoComp {
  width: 500px;
}

.recUserInfoComp p {
  margin-bottom: 12px;
  height: 22px;
  text-align: left;
  font: normal normal normal 15px/25px Roboto;
  letter-spacing: 0px;
  color: #000000;
}
