.section {
  margin: 0 0 40px 0;
}

.flexDiv {
  display: flex;
  justify-content: space-between;
}

.categorySection {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.categoryName {
  margin: 0 0 20px 0;
  font-weight: 500;
}
