.imgWrapper {
  position: relative;
  width: 40%;
  min-width: 500px;
  margin: 0 auto;
}
.mainImg {
  width: 100%;
}
.locationIconDiv {
  display: none;
}
.imgWrapper:hover .locationIconDiv {
  display: block;
}
