.buyButton {
  cursor: pointer;
  min-width: 500px;
  margin: 0 auto;
  display: block;
  padding: 10px;
  background-color: var(--main_color);
  border-radius: var(--border-radius);
  color: white;
  border: none;
}
