.cartItemDiv {
  display: flex;
  justify-content: center;
}

.cartItemCheck {
  margin: 0 20px 0 0;
}

.cartItemBox {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  width: 100%;
  padding: 20px;
}

.cartItemImg {
  width: 100px;
  margin: 0 20px 0 0;
}

.cartItemInfoDiv {
  width: 100%;
  position: relative;
  line-height: 1.4rem;
}

.cartItemOptionUpdate {
  font-size: 12px;
  color: var(--gray-font-color);
}

.cartItemOptionUpdate:hover {
  color: var(--gray-hover-font-color);
}

.cartItemFeeBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
