.cartItemDiv {
  display: flex;
  justify-content: center;
}

.cartItemCheck {
  margin: 0 20px 0 0;
}

.cartItemBox {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  width: 100%;
  padding: 20px;
}

.cartItemImg {
  width: 100px;
  height: 100px;
  margin: 0 20px 0 0;
}

.cartItemInfoDiv {
  width: 100%;
}

.cartItemFeeBox {
  display: flex;
  justify-content: space-between;
}
