.buyButton {
  cursor: pointer;
  width: 100%;
  display: block;
  margin: 30px 0 50px 0;
  padding: 10px;
  background-color: var(--main_color);
  border-radius: var(--border-radius);
  color: white;
  border: none;
}
