.productReviewDiv {
  display: flex;
  margin-block: 30px;
  justify-content: center;
  width: 100%;
}

.userImg {
  border-radius: 100%;
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.reviewInfoTotalDiv {
  width: 90%;
  margin: 0 10px;
}

.reviewWriterInfoDiv {
  color: #707070;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.productOptionDiv {
  display: flex;
  margin-block: 15px;
}

.productOptionDiv p {
  color: #707070;
  margin-right: 10px;
}

.productReviewText {
  width: 100%;
}
