.productSalesLinkLayout {
  width: 680px;
  /* line-height: 827px; */
  padding: 33px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.productSearchArea {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.productLinkInput {
  width: 100%;
  height: 33px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 7px;
  opacity: 1;
}

.productSearchBtn {
  margin-left: 20px;
  width: 50px;
  height: 33px;
  background: #4242e2 0% 0% no-repeat padding-box;
  border: 1px solid #70707021;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 15px/20px Roboto;
  letter-spacing: 0px;
  color: #f5f5f5;
}

.selectedProduct {
  margin-top: 30px;
  width: 100%;
  height: 400px;
  background-color: #000000;
}

.closeBtnArea {
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.popupCloseBtn {
  width: 88px;
  height: 33px;
  background: #f8f8fa 0% 0% no-repeat padding-box;
  border: 1px solid #4242e2;
  opacity: 1;
  text-align: center;
  border-radius: 4px;
  font: normal normal bold 20px/30px Roboto;
  letter-spacing: 0px;
  color: #4e4e4e;
  position: relative;
  left: 50%;
  transform: translate(-50%, -0%);
}
