.prodArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prodImg {
  width: 93px;
  height: 93px;
  margin-top: 12px;
}

.prodInfoArea {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}

.prodInfoArea div {
  margin-top: 5px;
}

.prodBrand {
  width: 500px;
  height: 17px;
  text-align: left;
  font: normal normal lighter 13px/25px Roboto;
  letter-spacing: 0px;
  color: #777777;
}

.prodOption {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 500px;
  height: 17px;
  text-align: left;
  font: normal normal lighter 13px/25px Roboto;
  letter-spacing: 0px;
  color: #777777;
}

.prodOption p {
  width: 50px;
  height: 17px;
  text-align: left;
  font: normal normal lighter 13px/25px Roboto;
  letter-spacing: 0px;
  color: #777777;
}

.prodName {
  width: 500px;
  max-width: 500px;
  height: 17px;
  text-align: left;
  font: normal normal bolder 15px/25px Roboto;
  letter-spacing: 0px;
  color: #000000;
}
