.navBarDiv {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid var(--border-color);
  padding: 15px 30px;
}

.navBarMenu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.logoImg {
  width: 120px;
  margin: 0 10px 0 0;
}

.menuItem {
  text-decoration: none;
  font-weight: 600;
  color: var(--main_color);
}
.menuItem:hover {
  color: var(--main-color-500);
}

.navBarUserMenu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navBarUserMenu a {
  text-decoration: none;
  font-weight: 600;
  color: var(--gray-font-color);
}

.menuIcon {
  cursor: pointer;
  color: var(--gray-font-color);
  padding: 4px;
}
.menuIcon:hover {
  background-color: var(--main_color);
  color: var(--border-color);
  border-radius: 100%;
}

.moreIcon {
  cursor: pointer;
  color: var(--main_color);
}
