:root {
  --text-color: #4242e2;
  --background-color: #ffffff;
  --accent-color: #4242e2;
  --icons-color: rgb(152, 187, 201);
  --bodybackground-color: #ffffff;
}

.navDiv {
  height: 43px;
  background-color: var(--bodybackground-color);
  color: var(--text-color);
  border-bottom: 1px solid #70707021;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  font-size: 14px;
}

.navItem {
  margin-inline: 10px;
  text-decoration: none;
  font-weight: 500;
  color: var(--gray-font-color);
}

.navItem:hover {
  color: var(--gray-hover-font-color);
}
