.present_box {
  margin-inline: auto;
  margin-block: 30px;
  padding: 20px;
  width: 750px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.present_info_box {
  display: flex;
  margin-block: 30px;
}

.present_img {
  background-color: rgb(206, 206, 206);
  width: 120px;
  height: 120px;
}

.width_box {
  width: 100%;
  display: inline-block;
}
.present_info {
  margin-inline: 10px;
  float: left;
}

.present_btn {
  display: grid;
  float: right;
}

.input_btn {
  cursor: pointer;
  width: 140px;
  height: 50px;
  margin: 5px;
  border: 1px solid #4242e2;
  border-radius: var(--border-radius);
  color: white;
  background-color: var(--main_color);
}
.ban_btn {
  cursor: pointer;
  width: 140px;
  height: 50px;
  margin: 5px;
  border: 1px solid #4242e2;
  border-radius: var(--border-radius);
  background-color: white;
  color: var(--main_color);
}

.message {
  width: 100%;
  height: 80px;
  line-height: 80px; /* 글자 세로 가운데 정렬 */
  background-color: #d5d5d5;
  border-radius: var(--border-radius);
  text-align: center;
}
