.Layout {
  position: relative;
  margin: auto;
  width: calc(100%-40px);
  height: auto;
  padding: 15px 20px;
  margin-top: 20px;
  border: 1px solid #707070a3;
  border-radius: var(--border-radius);
}

.closedQuestionTitle {
  width: 100%;
  font: normal normal bold 25px/35px Roboto;
}

.openedQuestionTitle {
  width: 100%;
  font: normal normal bold 25px/35px Roboto;
}
/* .closedTitle {
  border: 1px solid #707070a3;
  border-radius: var(--border-radius);
}
.openedTitle {
  border: 1px solid #707070a3;
  border-radius: var(--border-radius);
}

.contentOuter {
  border: 1px solid #707070a3;
  border-radius: var(--border-radius);
  font: normal normal normal 15px/25px Roboto;
  padding: 15px 20px;
} */

.questionContent {
  font: normal normal normal 15px/25px Roboto;
  padding: 15px 20px;
}

.answerArea {
  position: relative;
  margin: auto;
  width: 98%;
}

.answerSubmitBtn {
  float: right;
}

.answerCntntsArea {
  margin-top: 20px;
  font: normal normal normal 20px/25px Roboto;
}
