.Layout {
  position: relative;
  margin: auto;
  width: 500px;
  height: auto;
}
.signupAddLayout {
  position: relative;
  margin: auto;
  width: 500px;
  height: auto; /* 가변으로 수정 */
  border: 1px solid #707070a3; /* 레이아웃 확인용, 나중에 삭제*/
}
.Inner {
  position: relative;
  width: 80%;
  height: 600px; /*태그 따라서 늘어나게 수정*/
  background: #ffffff 0% 0% no-repeat padding-box;
  /* border: 1px solid #707070a3; */
  border-radius: 4px;
  opacity: 1;
  margin: auto;
  margin-top: 50px;
}

.dtlArea {
  position: relative;
  margin-top: 40px;
  width: 100%;
}

.profilePic {
  position: relative;
  margin: auto;
  width: 123px;
  height: 123px;
  border: 1px solid #707070a3;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  opacity: 1;
}

/* .userAddInfo_TagArea {
  position: relative;
  width: 100%;
  height: 500px;
} */

.signupAddBtns {
  position: relative;
  margin: auto;
  margin-top: 30px;
  width: 100%;
  height: 70px;
  left: 50%;
  transform: translate(-50%, -0%);
  display: flex;
  flex-direction: row;
}
.goRight {
  margin-left: 70px;
}
