.signin_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signin_logo {
  margin-top: 100px;
  height: 80px;
}

.signin_email_input {
  margin-top: 30px;
  width: 300px;
  height: 50px;
  border: 1px solid #dbdbdb;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}
.signin_password_input {
  width: 300px;
  height: 50px;
  border: 1px solid #dbdbdb;
  border-radius: 0 0 4px 4px;
}

input::placeholder {
  color: #57575885;
  opacity: 1; /* 파이어폭스에서 뿌옇게 나오는 현상을 방지하기 위한 css */
  padding: 10px;
}

.signin_valid {
  height: 35px;
}

.signin_valid p {
  margin-top: 10px;
  color: red;
}

.signin_btn {
  width: 300px;
  height: 50px;
  background-color: #4242e2;
  color: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  margin: 20px;
  cursor: pointer;
}
.signin_links {
  margin-bottom: 50px;
}
.signin_links .signin_link {
  margin: 0 10px;
  color: #3f3f42;
}
