.Layout {
  position: relative;
  margin: auto;
  width: 500px;
  height: auto;
}
.signupAddLayout {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto; /* 가변으로 수정 */
  border: 1px solid #707070a3;
}
.Inner {
  position: relative;
  width: 80%;
  height: auto; /*태그 따라서 늘어나게 수정*/
  background: #ffffff 0% 0% no-repeat padding-box;
  /* border: 1px solid #707070a3; */
  border-radius: 4px;
  opacity: 1;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.signupAddUserAddInfoArea {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.dtlArea {
  position: relative;
  margin-top: 40px;
  width: 100%;
}
.dtlArea2 {
  margin-top: 50px;
  position: relative;
  width: 100%;
}

.profileImgInput {
  display: none;
}
.profilePic {
  position: relative;
  margin: auto;
  width: 123px;
  height: 123px;
  border: 1px solid #707070a3;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  opacity: 1;
}

.userInfoTitle {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 30%;
  height: 20px;
  text-align: left;
  font: normal normal bold 15px/25px Roboto;
  letter-spacing: 0px;
  color: #696969;
  opacity: 1;
}
.userInfoTitle2 {
  margin-bottom: 10px;
  width: 30%;
  height: 20px;
  text-align: left;
  font: normal normal bold 15px/25px Roboto;
  letter-spacing: 0px;
  color: #696969;
  opacity: 1;
}
.nickInputArea {
  position: relative;
  width: 100%;
  height: 30px;
  border: 1px solid #a6a6a7;
  border-radius: 8px;
  text-align: center;
  font: normal normal bold 15px/30px Roboto;
  opacity: 1;
}

.signupAddBtns {
  position: relative;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  height: 70px;
  left: 50%;
  transform: translate(-50%, -0%);
  display: flex;
  flex-direction: row;
}
.goRight {
  margin-left: 70px;
}
