.mainCard {
  position: relative;
}

.mainCard img {
  width: 180px;
  height: 200px;
  max-width: 180px;
  max-height: 200px;
  /* border: 0.5px rgb(145, 145, 145) dotted; */
}

.commInfo {
  position: absolute;
  left: 5px;
  bottom: 5px;
  margin: 5px;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.userInfo img {
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
}

.userInfo p {
  margin: 5px;
  font: normal normal bolder 15px/15px Roboto;
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 rgb(100, 100, 100), 0 1px rgb(100, 100, 100),
    1px 0 rgb(100, 100, 100), 0 -1px rgb(100, 100, 100);
}

.communityTitle {
  font: normal normal 700 18px/18px Roboto;
  margin: 5px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000;
}

.link {
  color: var(--main_color);
  margin-top: 50px;
  padding: 0 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  /* border: 0.5px rgb(145, 145, 145) dotted; */
}
