.paymentLayout {
  position: relative;
  margin: auto;
  margin-top: 30px;
  width: 800px;
  height: 720px;
  background: #f2f5f8 0% 0% no-repeat padding-box;
  border: 1px solid #70707021;
  border-radius: 4px;
  opacity: 1;
}

.title {
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 120px;
  height: 40px;
  text-align: center;
}

.paymentMain {
  position: relative;
  margin: auto;
  margin-top: 30px;
  width: 614px;
  height: 536px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #70707021;
  border-radius: 4px;
  opacity: 1;
}

.orderNoArea {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.orderNoArea textarea {
  width: 400px;
  height: 40px;
  border: 0px solid #ffffff;
}

.goMoveBtn {
  position: relative;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 420px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.shopContiBtn {
  margin-left: 20px;
}
