.productImg {
  /* background-color: rgb(206, 206, 206); */
  width: 180px;
  height: 180px;
  /* border-radius: 8px; */
}

.productInfo {
  width: 100%;
  display: inline-block;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /*늘어나면 ...처리*/
  text-align: left;
  font: normal normal normal 13px/25px Roboto;
  /* margin-inline: 10px; */
  /* float: left; */
}
