.productList {
  margin-top: 20px;
  margin-right: 18px;
  width: 180px;
  float: left;
  /* margin-block: 30px; */
  width: 180px;
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  opacity: 1;
}
