.StoreMainPage_Layout {
  position: relative;
  margin: auto;
  width: 800px;
  height: auto;
  opacity: 1;
}
.HotProductTitleArea {
  margin-top: 20px;
  width: 800px;
  display: flex;
  flex-direction: row;
}
