.Layout {
  position: relative;
  margin: auto;
  min-width: 600px;
  width: 100%; /* 원래 1268px인데 너무 두꺼워서 주희님 myReview 페이지랑 맞춤 */
  height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  /* border: 1px solid #707070a3; 레이아웃 테스트용 */
  border-radius: 4px;
  opacity: 1;
}

.dtlArea {
  position: relative;
  margin-top: 40px;
}

.acctMyShopping_DelivTrackCondition {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.orderProductDetail {
  /* float: left; */
  width: 100%;
  margin-top: 30px;
  /* border: var(--border); */
  background: #ffffff 0% 0% no-repeat padding-box;
  /* border: 1px solid #707070; */
  opacity: 1;
}

.orderNumber {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.d {
  width: 10px;
  text-align: center;
  font: normal normal bold 15px/15px Roboto;
  color: #737373b5;
}

.noUploadText {
  position: relative;
  margin: auto;
  margin-top: 60px;
  width: 100%;
  height: 100%;
  font: normal normal bold 20px/33px Roboto;
  color: #4e4e4e;
  text-align: center;
}
