.accountMyShopping_Layout {
  position: relative;
  margin: auto;
  width: 800px; /* 원래 1268px인데 너무 두꺼워서 주희님 myReview 페이지랑 맞춤 */
  height: 1300px;
  background: #ffffff 0% 0% no-repeat padding-box;
  /* border: 1px solid #707070a3; 레이아웃 테스트용 */
  border-radius: 4px;
  opacity: 1;
}

.acctMyShopping_Title {
  margin-top: 20px;
  width: 214px;
  height: 67px;
  text-align: left;
  font: normal normal bold 30px/35px Roboto; /* 50px/67px 너무 커서 바꿈*/
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.acctMyShopping_SemiTitle {
  margin-top: 70px;
  text-align: left;
  font: normal normal bold 20px/25px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.acctMyShopping_DelivTrack {
  margin-top: 20px;
  width: 800px;
  height: 130px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 8px #0000001c;
  border: 1px solid #707070a3;
  border-radius: 4px;
  opacity: 1;
}

.acctMyShopping_DelivTrackCondition {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.acctMyShopping_prdndelis {
  margin-top: 13px;
  display: flex;
  flex-direction: row;
}

.acctMyShopping_SelectedRslt {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 28px;
  margin-right: 10px;
  background: #4242e2 0% 0% no-repeat padding-box;
  border-radius: 28px;
  text-align: center;
  font: normal normal bold 15px/30px Roboto;
  letter-spacing: 1px;
  color: #ffffff;
  opacity: 1;
}

.acctMyShopping_selectedTextArea {
  margin-left: 10px;
  margin-right: 5px;
}

.acctMyShopping_selectedRmvBtn {
  position: relative;
  margin-right: 3px;
  margin-top: 4px;
  width: 20px;
  height: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #4242e2;
  border-radius: 50%;
  text-align: center;
  line-height: 10px;
  letter-spacing: 0px;
  font: normal normal bold 10px/14px Roboto;
  letter-spacing: 0px;
  float: right;
  color: #4242e2;
  opacity: 1;
}

.acctMyShopping_orderProductDetail {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
/* 
.accountMyShopping_showDetail {
  margin-left: 600px;
  text-align: left;
  font: normal normal normal 10px/15px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
} */

/* 컴포넌트화 되면 없애기 */
.deliTableArea {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deliTable {
  margin-top: 12px;
  width: 614px;
  height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.deliTable th {
  height: 22px;
  text-align: center;
  vertical-align: middle;
  font: normal normal bolder 15px/25px Roboto;
  letter-spacing: 0px;
  border: 1px solid #000000;
}

.deliTable td {
  height: 22px;
  text-align: center;
  vertical-align: middle;
  font: normal normal normal 15px/25px Roboto;
  letter-spacing: 0px;
  border: 1px solid #000000;
}
