.deliveryTracking {
  width: 680px;
  height: 827px;
  padding: 33px;
  background: #ffffff 0% 0% no-repeat padding-box;
}

.contArea {
  margin-top: 37px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: flex-start;
}
