.orderNumber {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.d {
  width: 10px;
  text-align: center;
  font: normal normal bold 15px/15px Roboto;
  color: #737373b5;
}

.orderProductDetail {
  /* float: left; */
  width: 100%;
  /* border: var(--border);
  border-radius: var(--border-radius); */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  /* border-radius: 8px; */
  opacity: 1;
}

.noUploadText {
  position: relative;
  margin: auto;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  font: normal normal bold 20px/33px Roboto;
  color: #4e4e4e;
  text-align: center;
}
