body {
  width: 100%;
  padding: 0;
  margin: 0;
}

.modifyPass {
  width: 400px;
  border: 1px solid black;
  background-color: white;
  border-radius: 4px 4px 4px 4px;
  margin: auto;
  padding: 40px;
}

.modifyPass-main-title {
  text-align: center;
  color: #4242e2;
  font-weight: 700;
  margin-bottom: 30px;
}

.modifyPass-input {
  width: 300px;
  height: 50px;
  border: 1px solid #dbdbdb;
  border-radius: 4px 4px 4px 4px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modifyPass-title {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}

.modifyPass-text {
  color: #777777;
  font-size: 13px;
}

.modifyPass-valid {
  height: 25px;
  text-align: center;
  color: red;
}

.modifyPass-btn {
  width: 300px;
  height: 50px;
  background-color: #4242e2;
  color: white;
  border: none;
  margin-top: 30px;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
}
