.signup {
  position: relative;
  width: 476px;
  height: 1340px;
  border: 1px solid #707070a3;
  border-radius: 4px;
  opacity: 1;
  margin: auto;
}

.signupInner {
  position: relative;
  top: 34px;
  left: 40px;
  width: 396px;
  height: 1300px;
}

.signupTitle {
  position: relative;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 46px;
  text-align: left;
  font: normal normal bold 35px/47px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 0px;
}

.snsArea {
  position: relative;
  display: inline-flex;
  top: 40px;
  left: 40px;
  width: 317px;
  height: 250px;
  border-bottom: gray 2px solid;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.snsTitle {
  position: relative;
  width: 317px;
  height: 27px;
  text-align: left;
  font: normal normal bold 20px/64px Ubuntu;
  letter-spacing: 0px;
  color: #57575885;
  opacity: 1;
}

.snsGoogle {
  position: relative;
  left: 10px;
  width: 70px;
  height: 70px;
  background: transparent url("/src/img/google.jpg") 0% 0% no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 1;
  border: none;
  cursor: pointer;
}

.snsKakao {
  position: relative;
  left: 45px;
  width: 70px;
  height: 70px;
  background: transparent url("/src/img/kakao.png") 0% 0% no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 1;
  border: none;
  cursor: pointer;
}

.snsNaver {
  position: relative;
  left: 90px;
  width: 70px;
  height: 70px;
  background: transparent url("/src/img/naver.jpg") 0% 0% no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 1;
  border: none;
  cursor: pointer;
}

.userInfoArea {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.userTitle {
  position: relative;
  margin-top: 50px;
  text-align: left;
  font: normal normal bold 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.userInput {
  position: relative;
  padding: 10px;
  width: 100%;
  height: 49px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #a6a6a7;
  border-radius: 10px;
  opacity: 1;
}

.signupBtn {
  width: 476px;
  height: 104px;
  background: #4242e2 0% 0% no-repeat padding-box;
  border: 1px solid #70707021;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 40px/53px Segoe UI;
  letter-spacing: 0px;
  color: #f5f5f5;
  margin-top: 50px;
}

.guideArea {
  position: relative;
  display: inline-flex;
  margin-top: 20px;
}

.guideText {
  position: relative;
  left: 50px;
  width: 240px;
  height: 27px;
  text-align: left;
  font: normal normal normal 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #514f4f;
  opacity: 1;
}

.loginText {
  position: relative;
  left: 70px;
  width: 60px;
  height: 27px;
  text-align: left;
  text-decoration: underline;
  font: normal normal bold 20px/27px Segoe UI;
  letter-spacing: 0px;
  color: #514f4f;
  opacity: 1;
  cursor: pointer;
}
