.productOptionSelectBox {
  display: inline-flex;
  justify-content: center;
  margin-top: 30px;
  height: 100%;
  width: 100%;
}

.productOptionSelectBox img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.optionSelectBox {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 30px;
  width: 50%;
  margin-left: 20px;
  height: 100%;
}

.productNameTitle {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.selectedOptionDiv {
  max-height: 120px;
  overflow-y: auto;
}

.btnBox {
  display: flex;
}

.btnBox div {
  margin-inline: 8px;
}

.buyItemInfoDiv {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  margin: 15px 0;
  width: 100%;
}

.buyItemInfoDiv p:first-child {
  width: 100px;
}

.inputQuantity {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 14px;
  padding: 0 0 0 5px;
  text-align: center;
  width: 40px;
  align-items: flex-end;
}
