.reviewItem_box {
  display: flex;
  margin-inline: auto;
  margin-block: 20px;
  padding: 20px;
  width: 750px;
  /* border: var(--border); */
  border-radius: var(--border-radius);
  box-shadow: rgb(0 0 0 / 6%) 0px 10px 40px 0px;
}

.product_img {
  background-color: rgb(206, 206, 206);
  width: 120px;
  height: 120px;
}

.btn_info_box {
  width: 100%;
  display: inline-block;
}

.product_info {
  margin-inline: 10px;
  float: left;
}

.product_btn {
  float: right;
}
.product_btn button {
  cursor: pointer;
  width: 140px;
  height: 50px;
  margin: 5px;
  border: 1px solid #4242e2;
  border-radius: var(--border-radius);
  color: white;
  background-color: var(--main_color);
}
