.semiTitle {
  display: flex;
  /* align-items: center;
    justify-content: center; */
}

.semiTitle p {
  margin-top: 50px;
  position: relative;
  width: 317px;
  height: 27px;
  text-align: left;
  font: normal normal bold 20px/27px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
