.commInput {
  width: auto;
  text-align: left;
  font: normal normal bold 20px/27px Roboto;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 15px;
}

.commInput p {
  margin: 15px auto;
}

.commInput input {
  padding-left: 10px;
  padding-right: 10px;
  width: calc(100% - 20px);
  height: 49px;
  font: normal normal 16px/20px Roboto;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #a6a6a7;
  border-radius: 10px;
}
