.text {
  display: flex;
  width: 100px;
  height: 33px;
  text-align: left;
  font: normal normal bold 25px/33px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  /* align-items: center;
    justify-content: center; */
}
