/* .close {
  cursor: pointer;
}

.close:after,
.close:before {
  content: "";
  height: 20px;
  width: 20px;
  border-top: 1px solid #000;
  position: absolute;
  top: 6px;
  right: -8px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close:before {
  right: 6px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
} */
