.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title p {
  width: 100px;
  height: 33px;
  font: normal normal bolder 23px/25px Roboto;
  text-align: center;
  letter-spacing: 0px;
  color: #4242e2;
  display: table-cell;
  vertical-align: middle;
}
