.userTagForm_TagInput {
  position: relative;
  width: 100%;
  height: 44px;
  border: 1px solid #a6a6a7;
  border-radius: 8px;
  opacity: 1;
}

.userTagForm_TagArea {
}

.userTagForm_TagList {
  margin-top: 20px;
  margin-right: 10px;
  max-width: 200px; /*200px넘는 글자 넣으면 x버튼 없어짐 수정*/
  height: 30px;
  float: left;
  border: 3px solid #4242e2;
  border-radius: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /*늘어나면 ...처리*/
  text-align: center;
  font: normal normal bold 13px/25px Roboto;
  letter-spacing: 0px;
  color: #4242e2;
  opacity: 1;
}

.userTagForm_TagRmvBtn {
  position: relative;
  margin-right: 2px;
  margin-top: 2px;
  width: 20px;
  height: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #4242e2;
  border-radius: 50%;
  text-align: center;
  line-height: 10px;
  letter-spacing: 0px;
  font: normal normal bold 10px/14px Roboto;
  letter-spacing: 0px;
  float: right;
  color: #4242e2;
  opacity: 1;
}
