.Layout {
  position: relative;
  margin: auto;
  width: 500px;
  height: auto;
  padding: 30px;
}

.questionOptionArea {
  width: 100%;
  margin-top: 50px;
}

.questionArea {
  width: 100%;
  margin-top: 30px;
}

.questionCntntsArea {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% - 20px);
  height: 300px;
  text-align: left;
  font: normal normal 16px/20px Roboto;
  letter-spacing: 0px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #a6a6a7;
  border-radius: 10px;
  color: #000000;
  margin-bottom: 15px;
  position: relative;
}

.fileSelectArea {
  width: 100%;
  margin-top: 30px;
}

.noFileSelectedArea {
  margin-top: 10px;
  font: normal normal 15px/18px Roboto;
  color: #848484;
}

.profileImgInput {
  /* width: 100%; */
  display: none;
}

.profilePic {
  position: relative;
  max-width: 400px;
  max-height: 500px;
  margin-top: 30px;
  border: 1px solid #707070a3;
  left: 50%;
  transform: translate(-50%, -0%);
  opacity: 1;
}

.submitBtn {
  margin-top: 50px;
  /* margin-bottom: 30px; */
}

.signin_valid {
  height: 35px;
  margin-top: 10px;
  color: red;
}
